server {
	listen: 8000;
	server_name: localhost;
        index: index.html;
	root: www;
}

server {
	listen: 8000;
	server_name: localhost;
	index: index.php;
	root php;
 	location / {
		try_files $uri $uri//index.php;
	}

	location ~*\.php$ {
		include fastcgi.conf;
		try_files $uri = 404; # or remove line and set php.ini cig.fix_pathinfo = 0 (better)
		fastcgi_pass: 127.0.0.1:9000
	}
}


